

@font-size:         14px;
@font-color:        #444444; 

@navbar-background: #FFFFFF;
@navbar-border:     #EFEFEF;
@brand-color:       #000000;






@primary:   #07bc4c;
@secondary: #926996;
@info:      #578EBE;
@danger:    #E35B5A;
@warning:   #DFBA49;


@control-border: #EEEEEE;