

@font-size:         14px;
@font-color:        #444444; 

@navbar-background: #FFFFFF;
@navbar-border:     darken(#926996, 10%);
@brand-color:       darken(#926996, 10%);
@item-menu-color:   #926996;






@primary:   #07bc4c;
@secondary: #926996;
@info:      #578EBE;
@danger:    #E35B5A;
@warning:   #DFBA49;