
@import "_variables";
html, body{
    margin: 0;
    padding: 0;
    cursor: auto;
    line-height: 1.5;
    position: relative;
    font-style: normal;
    font-weight: normal;
    font-size: @font-size;
    font-family: "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif !important;
}
a{
    text-decoration: none;
}


/*==========  GRIDS  ==========*/
.container{
    width: 1170px;
    margin: 0 auto;
}
.row{
    width: 100%;
    overflow: hidden;
    margin-bottom: 10px;
}
.row [class^=col-]{
    float: left;
    padding: 10px;
    box-sizing: border-box;
}
.col-1{
    width: 8.33%;
}
.col-2{
    width: 16.66%;
}
.col-3{
    width: 24.99%;
}
.col-4{
    width: 33.32%;
}
.col-5{
    width: 41.65%;
}
.col-6{
    width: 49.98%;
}
.col-7{
    width: 58.31%;
}
.col-8{
    width: 66.64%;
}
.col-9{
    width: 74.97%;
}
.col-10{
    width: 83.33%;
}
.col-11{
    width: 91.63%;
}
.col-12{
    width: 99.96%;
}

/*==========  AUX  ==========*/

.show-cols [class^=col-]{
    background-color: #E5E1EA;
    border-right: 1px solid gray;
    color: #666;
}
.well{
    background-color: yellow;
}

/*==========  NAVBAR  ==========*/

.navbar{
    overflow: hidden;
    background-color: @navbar-background;
}
.navbar .brand{
    height: 50px;
    margin-left: 20px;
    line-height: 50px;
    padding-left: 10px;
    padding-right: 10px;
    display: inline-block;
    vertical-align: middle;
}
.navbar .brand > a{
    color: #FFF;
    font-weight: bold;
    font-size: @font-size + 2px;
}
.navbar .brand > a:hover{
    color: darken(#FFF, 5%);
}
.navbar .nav{
    height: 50px;
    margin-left: 20px;
    line-height: 50px;
    display: inline-block;
    vertical-align: middle;
}
.navbar .nav .left{
    margin: 0;
    padding: 0;
    float: left;
}
.navbar .nav .left > li{
    display: inline-block;
}
.navbar .nav .left > li > a{
    color: #FFF;
    padding: 10px;
}
.navbar .nav .left > li:hover{
    background-color: darken(@navbar-background, 10%);
}
