body{
    background-color: #FAFAFA;
}
mark{
    background-color: #feffe0;
}
section.section-docu{
    padding: 20px;
    margin-bottom: 20px;
    background-color: #FFFFFF;
    border: 1px solid #EEEEEE;

    h1{
        margin: 0;
        padding-bottom: 10px;
        border-bottom: 1px solid #EEEEEE;
    }
}
.example{
    border: 1px solid #EEEEEE;
    .preview{
        padding: 20px 10px;
        background-color: #F7F7F9;
        border-bottom: 1px solid #EEEEEE;
    }
}